@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4ac959;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slides {
  background-image: url("../static/images/slides.png");
  background-repeat: no-repeat;
}